.container {
  width: 100%;
  max-width: var(--global-container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--sds-size-space-400);
  padding-right: var(--sds-size-space-400);
}

@media (min-width: 768px) {
  .container {
    padding-left: var(--sds-size-space-800);
    padding-right: var(--sds-size-space-800);
  }
}
